* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

/* Logo styles start */
.logo {
  margin-right: auto;
  color: #536dfe;
}

.logo h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-decoration: none;
}

.logo h1 span {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-decoration: none;
  font-size: 14px;
}
/* Logo styles end */

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  font-size: 14px;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #586eee;
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(87, 112, 255, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(87, 112, 255, 0.6);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

/* Services styling only!*/
.section-c {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.services {
  background: #1d1e22;
  text-align: center;
}
.services h1 {
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 4px solid #3498db;
  font-size: 20px;
  padding-bottom: 10px;
  margin-top: 40px;
  color: white;
}

.cen {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}

.service {
  display: inline-block;
  width: calc(100% / 4.5);
  margin: 0 -2px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.4s;
}

.service:hover {
  background: rgba(148, 148, 148, 0.5);
}

.service i {
  color: white;
  font-size: 34px;
  margin-bottom: 30px;
}

.service h2 {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
}

.services p {
  padding: 8px;
  color: whitesmoke;
  font-size: 12px;
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .service {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .service {
    width: 100%;
  }
}

/* Home section stylings */
.landing-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.landing-text h1 {
  font-size: 100px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.landing-text h3 {
  color: white;
  font-family: "Montserrat", sans-serif;
}

/* Buttons and page text*/

/* Section b stylings*/
.section-b {
  position: relative;
  background-color: #414148;
  height: 80vh;
}
.section-b-inner {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 860px;
  padding: 5rem 0;
}
.section-b-inner h3 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}
.section-b-inner h2 {
  font-size: 4rem;
  margin-top: -5rem;
  font-family: "Montserrat", sans-serif;
}
.section-b-inner p {
  font-size: 0.8rem;
  margin-top: 0.3rem;
  font-family: "Montserrat", sans-serif;
}

.overlay-style {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Section c/Footer stylings*/
.footer-distributed {
  background-color: #24252a;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #383838;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
  text-decoration: underline;
}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
/* Responsiveness*/

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}
